/*******************
default style rule set for CSS
selector {
    property: value;
}
*******************/

body {
  background-image: url("background-6.jpg");
  font-family: 'Slackey', cursive;
  margin: 300px auto;
  width: 70%;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: Orchid;
}

h1 {
  font-size: 200px;
  margin-bottom: 0px;
  margin-top: -100px;
}

h2{
  font-size: 48px;
}

p {
  font-size: 72px;
}

a:link, a:visited {
  color: Orchid;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  color: dodgerblue;
}
